@model IEnumerable<GerenciadorConsultasMedicas.Models.ListarConsultasMedicasPorMedico>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Consultas do Médico Selecionado</h2>

<table class="table">
    <tr>
        <th>
            Data/Hora Agendada
        </th>
        <th>
            Paciente
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.Data) - @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back", "Index", "Medicos")




